<p id="notice"><%= notice %></p>

<h1>Users ranking</h1>

<div class="ui centered grid">
  <div class="eight wide column">
<table id="table" class="ui single line table  ">
  <thead>
    <tr>
      <th></th>
      <th>Ranking</th>
      <th>Login</th>
      <th>Score</th>
      <% if @current_user && @current_user.role == "admin" %>
        <th>Edit</th>
        <th>Delete</th>
      <% end %>
     </tr>
  </thead>
  <%pos = 0%>
  <tbody>
    <% get_global_ranking.each do |user, score| %>
      <tr>
        <td>
          <%if pos == 0 %>
            <i class="yellow trophy icon"></i>
          <%elsif pos == 1 %>
            <i class="grey trophy icon"></i>
          <%elsif pos == 2 %>
            <i class="brown trophy icon"></i>
          <%end%>
        </td>
        <td><%=pos=pos+1%></td>
        <td><%=user%></td>
        <td><%=score%></td>
        <% if @current_user && @current_user.role == "admin" %>
          <td>
            <%= link_to('<i class="edit outline icon"></i>'.html_safe, edit_user_path(user)) %>
          </td>
          <td>
            <%= link_to('<i class="trash icon"></i>'.html_safe, user,
                                method: :delete,
                                data: { confirm: 'Are you sure?' }) %>

          </td>
        <% end %>
      <tr>
    <%end%>
  </tbody>
</table>
  </div>
</div>


<%if false %>
<table id="table" class="ui striped table sortable very compact celled">
  <thead>
    <tr>
      <th>Login</th>
      <th>Role</th>
      <th>Email</th>
      <th class="sorted descending">Score</th>
      <% if @current_user && @current_user.role == "admin" %>
        <th>Edit</th>
        <th>Delete</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.login, user) %></td>
        <td><%= user.role %></td>
        <td><%= user.email %></td>
        <td>
          <% score = 0 %>
          <% user.routes.each do |route| %>
            <% score = score +  route.score / (Check.where(route_id: route.id).count + 1)%>
          <% end %>
          <%= score %>
        </td>

        <% if @current_user && @current_user.role == "admin" %>
          <td>
            <%= link_to('<i class="edit outline icon"></i>'.html_safe, edit_user_path(user)) %>
          </td>
          <td>
            <%= link_to('<i class="trash icon"></i>'.html_safe, user,
                                method: :delete,
                                data: { confirm: 'Are you sure?' }) %>

          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%end%>
