<div class="ui stackable equal width grid">

  <div class="row"/>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row"/>
    <% if @current_user %>
      <%= link_to '<i class="icon square plus"></i> New route'.html_safe,
           new_route_path %>
    <% end %>
  </div>

  <div class="eight wide column ">
    <div class="ui centered card">
      <div class="content">
        <% if(@current_user) %>
          <%if(@current_user == @user || @current_user.role == "admin") %>
            <span class="right floated">
              <%= link_to('<i class="edit outline icon"></i>'.html_safe, edit_user_path(@user)) %>
            </span>
          <% end %>
        <% end %>
        <div class="header">
          <%= @user.login %>
        </div>

        <div class="meta">
          <%= @user.email %>
          </br>
          <%= @user.role %>
        </div>
      </div>
      <% score = 0 %>
      <% @user.routes.each do |route| %>
        <% route_score = route.score/(Check.where(route_id: route.id).count + 1) %>
        <% score = score + route_score%>
      <% end %>

      <div class="extra content">
        <div class="ui  statistics">
          <div class="statistic">
            <div class="value">
              <% ranking = get_ranking %>
              <%if ranking[0] == 1 %>
                <i class="yellow trophy icon"></i>
              <%elsif ranking[0] == 2 %>
                <i class="grey trophy icon"></i>
              <%elsif ranking[0] == 3 %>
                <i class="brown trophy icon"></i>
              <%end%>
               #<%= ranking[0] %>
            </div>
          </div>

       </div>
       <div class="ui label">
         Score
         <div class="detail">
           <%= ranking[1][1] %> pts
         </div>
       </div>
      </div>
      <% Level.find_each do |level| %>
        <% nb_user_checks = Check.where(user_id: @user, route_id: Route.where(level_id: level, archive:false)).count  %>
        <% nb_routes      = Route.where(level_id: level, archive: false).count %>

        <% if ( nb_routes != 0 && nb_user_checks !=0) %>
          <div class="content">
            <div class="ui <%= level.color %> ribbon label"><%= level.name %>
          </div>

          <div class="meta">
            <%= nb_user_checks %> / <%= nb_routes %>
          </div>

          <div class="extra content right floated">
            <div class="ui <%= level.color %> mini statistics">
              <div class="statistic">
                <div class="value">
                  <%= (nb_user_checks*100/nb_routes) %> %
                  <i class="grey pie chart icon"></i>
                </div>
              </div>
            </div>
          </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>

  <div class="eight wide column">
    <%= render partial:"routes/map",
               locals:{current_user:@user,
                      editable:"false"} %>
  </div>
</div>


