<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @check.route_id %> 
</p>

<p>
  <strong>User:</strong>
  <%= @check.user_id %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
