<%= form_for @route, html: {multipart: true} do |f| %>
  <% if @route.errors.any? %>
    <div class="extra content">
      <div id="error_explanation" class="ui error message">
        <h3><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h3>

        <ul>
          <% @route.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="ui form segment" >

    <div class="ui field">
      <label> <%= f.label :name %> </label>
      <%= f.text_field :name, placeholder: :name %>
    </div>
    <div class="ui field">
      <label> <%= f.label :posx %> </label>
      <%= f.number_field(:posx, id: "posx") %>
    </div>

    <div class="ui field">
      <label> <%= f.label :posy %> </label>
      <%= f.number_field(:posy, id: "posy") %>
    </div>

    <div class="ui field">
      <label> <%= f.label :level %>*</field>
        <%= collection_select(:route, :level_id, Level.all, :id, :name,  {:include_blank => ''}, {:class =>'ui dropdown selection'}) %>
    </div>
    <div class="ui field">
      <label> <%= f.label :archive %></field>
        <%= f.check_box(:archive, {class:"ui checkbox"}, "t", "f")  %>
    </div>

    <div class="ui field">
      <label> <%= f.label :image %> </label>
      <%= f.file_field :image %>
    </div>


    <div class="extra content">
      <div>
        <button type="submit" class="ui primary button">ok</button>
      </div>
    </div>

  </div>

<%end%>
