<%map_w="572px"%>
<%map_h="495px"%>

<div  class="image" id="map" style="position: relative; width:<%=map_w%>; height:<%=map_h%>;">
  <!--%= image_tag("arkose.png", :align=> "middle", width:map_w, height:map_h) %-->
  <%= image_tag("arkose.png", :align=> "middle") %>

  <% if params[:level] != nil %>
    <% list = Route.where(:archive => false, :level_id => params[:level].split(",").map { |s| s.to_i }) %>
  <% else %>
    <% list = Route.where(:archive => false).all %>
  <% end %>

  <% if params[:versus] != nil %>
    <%versus_user_id = params[:versus]%>
    <%versus_user_login = User.find(versus_user_id).login%>
  <%end%>

  <% if list %>
    <% list.each do |route| %>
      <%checked=""%>
      <%selected=""%>
      <div data-inverted=""
           data-tooltip="[<%= Level.find(route.level_id).name %>] <%= route.name %>"
           style="position: absolute; top:<%= route.posx %>%; left: <%= route.posy %>%">
           <% if current_user %>
             <% check = Check.find_by(user_id: current_user.id, route_id: route.id) %>
             <% if versus_user_id %>
               <% check_vs = Check.find_by(user_id: versus_user_id, route_id: route.id) %>
             <%else%>
               <% check_vs = nil %>
             <%end%>

             <%if versus_user_id %>
               <!-- Mode VERSUS -->
               <%if check %>
                 <% if check_vs %> <% checked=""%>
                 <% else %>        <% checked="thumbs up"%>
                 <%end%>
               <%else%>
                 <% if check_vs %>  <% checked="thumbs down"%>
                 <% else %>         <% checked=""%>
                 <%end%>
               <% end %>
             <%else%>
               <!-- Mode SOLO -->
               <%if check %> <% checked="check square"%>
               <% else %>    <% checked="square"%>
               <%end%>
             <%end%>
           <% else %>
             <% checked="square"%>
           <% end %>

           <% if  @route && route.id == @route.id %>
             <% selected="loading" %>
           <%end%>
           <%if editable=="false"%>
             <a href="/routes/<%= route.id %>">
               <i class=" icon <%=selected%> <%=checked%>" style="color:<%= Level.find(route.level_id).color %>"></i>
             </a>
           <%else%>
               <i class=" icon <%=selected%> <%=checked%>" style="color:<%= Level.find(route.level_id).color %>"></i>
           <%end%>
      </div>
    <%end%>
  <%end%>
</div>

