<%if false%>
<div class="row"/>
  <select class="ui dropdown" onchange="location = this.value;">
    <option selected disabled>Filtre</option>
    <option value="routes">Toutes</option>
    <% Level.all.each do |level| %>
      <option value="routes?level=<%= level.id %>">[<%= level.id %>] <%=level.name %></option>
    <% end %>
  </select>
</div>
<%end%>

<%map_w="572px"%>
<%map_h="495px"%>

<div  class="image" id="map" style="position: relative; width:<%=map_w%>; height:<%=map_h%>;">
  <!--%= image_tag("arkose.png", :align=> "middle", width:map_w, height:map_h) %-->
  <%= image_tag("arkose.png", :align=> "middle") %>

  <% if params[:level] != nil %>
    <% list = Route.where(:archive => false, :level_id => params[:level]) %>
  <% else %>
    <% list = Route.where(:archive => false).all %>
  <% end %>

  <% if list %>
    <% list.each do |route| %>
      <%checked=""%>
      <%selected=""%>
      <div data-inverted=""
           data-tooltip="[<%= Level.find(route.level_id).name %>] <%= route.name %>"
           style="position: absolute; top:<%= route.posx %>%; left: <%= route.posy %>%">
           <% if current_user %>
             <% check = Check.find_by(user_id: current_user.id, route_id: route.id) %>
             <%if check %>
               <% checked="check"%>
             <%end%>
           <% end %>
           <% if  @route && route.id == @route.id %>
             <% selected="loading" %>
           <%end%>
           <%if editable=="false"%>
             <a href="/routes/<%= route.id %>">
               <i class="square icon <%=selected%> <%=checked%>" style="color:<%= Level.find(route.level_id).color %>"></i>
             </a>
           <%else%>
               <i class="square icon <%=selected%> <%=checked%>" style="color:<%= Level.find(route.level_id).color %>"></i>
           <%end%>
      </div>
    <%end%>
  <%end%>
</div>
