<div class="ui stackable equal width grid">

  <div class="row"/>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="column"/>
    <table class="ui striped table sortable very compact celled">
      <thead>
        <tr class="center aligned">
          <th>New</th>
          <th>ID</th>
          <th>Name</th>
          <th>Level</th>
          <th>Score</th>
          <% if @current_user %>
            <th>Check</th>
            <% if @current_user.role == "admin" %>
              <th>Edit</th>
              <th>Delete</th>
            <% end %>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @routes.each do |route| %>
          <tr>
            <td class="center aligned">
              <% if route.created_at > 1.day.ago %>
                <i class="icon yellow certificate"></i>
              <%end %>
             </td>
            <td class="center aligned">
              <%= link_to route.id, route %>
            </td>
            <td class="center aligned">
             <%= route.name %>
            </td>
            <td class="center aligned"><%= Level.find(route.level_id).name %></td>
            <td class="center aligned"><%= route.score / (Check.where(route_id: route.id).count + 1) %></td>
            <% if @current_user %>
              <td class="center aligned">
                <% if @current_user && Check.find_by(user_id: @current_user.id, route_id: route.id)%>
                  <% check=Check.find_by(user_id: @current_user.id, route_id: route.id) %>

                  <a href="/checks/<%= check.id %>" data-confirm="Are you sure ?" data-method="delete">
                    <i class="green checkmark box icon"></i>
                  </a>
                <% elsif @current_user %>
                  <a href="/checks/new?user=<%= @current_user.id %>;route=<%= route.id %>" >
                    <i class="grey square outline box icon"></i>
                  </a>
                <% end%>
              </td>
              <% if @current_user.role == "admin" %>
                <td class="center aligned">
                  <%= link_to('<i class="edit icon"></i>'.html_safe, edit_route_path(route)) %>
                </td>
                <td class="center aligned">
                  <%= link_to('<i class="trash icon"></i>'.html_safe, route,
                                method: :delete,
                                data: { confirm: 'Are you sure?' }) %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @current_user %>
      <%= link_to 'New Route', new_route_path %>
    <% end %>
  </div>

<div class="ui column">
  <%= render partial:"routes/map", locals:{current_user:@current_user} %>
</div>
</div>

