<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= Grade.find(@route.grade_id).name %>
</p>

<p>
  <strong>Level:</strong>
  <%= Level.find(@route.level_id).name %>
</p>

<p>
  <strong>Posx:</strong>
  <%= @route.posx %>
</p>

<p>
  <strong>Posy:</strong>
  <%= @route.posy %>
</p>

<p>
  <strong>Score:</strong>
  <%= @route.score %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
