<div class="ui grid">
  <div class="row"> </div>

  <div class="row"/>
    <% if @current_user %>
      <%= link_to '<i class="icon square plus"></i> New route'.html_safe,
           new_route_path %>
    <% end %>
  </div>

  <div class="eight wide column ">

    <div class="ui centered  card">
      <div class="content">
        <% if @current_user %> 
          <% check = Check.find_by(user_id: @current_user.id, route_id: @route.id) %>
          <% if Check.find_by(user_id: @current_user.id, route_id: @route.id)%>
            <a  href="/checks/<%= check.id %>"
                style="color:<%= Level.find(@route.level_id).color %>"
                data-confirm="Are you sure ?"
                data-method="delete">
              <i class="right floated huge checkmark box icon"></i>
            </a>
          <% else %>
            <a href="/checks/new?user=<%= @current_user.id %>;route=<%= @route.id %>" >
              <i class="right floated huge outline square icon " style="color:<%= Level.find(@route.level_id).color %>"></i>
            </a>
          <% end %>
        <% end %>

        <div class="header">
          #<%=@route.id%> 
          <%= @route.name %>
        </div>
        <div class="meta">
          <%= distance_of_time_in_words(Time.now,@route.created_at) %>
        </div>

        <% if @route.level_id != nil %>
          <a class="ui <%= Level.find(@route.level_id).color %> ribbon label"><%= Level.find(@route.level_id).name %></a>
        <% end %>
        <div class="meta">
      <% if @current_user %>
        <% if @current_user.role == "admin" || @current_user.role = "route setter" %> 
          <span class="right floated">
            <%= link_to('<i class="edit outline icon"></i>'.html_safe, edit_route_path(@route))%>
          </span>
        <%end%>
      <%end%>

        </div>

        <div class="ui statistic">
          <div class="value"><%= @route.score / (Check.where(route_id: @route.id).count + 1)  %></div>
          <div class="label">Points </div>
        </div>
      </div>

      <div class="image">
        <%= image_tag @route.image.url(:medium), :id => "picture" %>
      </div>


      <div class="extra content">
        <div class="statistic">
          <div class="value"><i class="green checkmark icon"></i><%= Check.where(route_id: @route.id).count %></div>
          <div class="label">Checks </div>
        </div>
      </div>

      <div class="extra content">

        <table class="ui striped table very compact" >
          <thead>
            <tr class="">
              <th>Date</th>
              <th>Name</th>
            </tr>
          </thead>

          <tbody>
            <% Check.where(route_id: @route.id).each do |check| %>
              <tr>
                <td class="right aligned">
                  <%= distance_of_time_in_words(Time.now,check.created_at) %>
                </td>
                <td class="">
                  <%= user = User.where(id: check.user_id).first.login %>
                </td>
              </tr>
            <%end%>
          </tbody>

        </table>

      </div>
    </div>
  </div>

  <div class="ui column">
    <%= render partial:"routes/map",
      locals:{current_user:@current_user,
              editable:"false"} %>
  </div>
</div>


  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      #<%=@route.id%> 
      <%= @route.name %>
    </div>
    <div class="image content">
      <div class="ui image">
        <%= image_tag @route.image.url(:medium) %>
      </div>
    </div>
  </div> 


