<div class="ui grid">
  <div class="row"> </div>
  <div class="eight wide column ">

    <div class="ui centered  card">

      <div class="content">
        <% if @current_user %> 
          <% if Check.find_by(user_id: @current_user.id, route_id: @route.id)%>
            <i class="right floated huge green checkmark box icon"></i>
          <% end %>
        <% end %>

        <a class="header">
          <%= @route.name %>
        </a>

        <% if @route.level_id != nil %>
          <a class="ui <%= Level.find(@route.level_id).color %> ribbon label"><%= Level.find(@route.level_id).name %></a>
        <% end %>
        <div class="meta">
        </div>

        <div class="ui statistic">
          <div class="value"><%= @route.score / (Check.where(route_id: @route.id).count + 1)  %></div>
          <div class="label">Points </div>
        </div>
      </div>

      <div class="extra content">
        <div class="statistic">
          <div class="value"><i class="green checkmark icon"></i><%= Check.where(route_id: @route.id).count %></div>
          <div class="label">Checks </div>
        </div>
      </div>

      <div class="extra content">
          <%= distance_of_time_in_words(Time.now,@route.created_at) %>
          <% if @current_user %>
            <% if @current_user.role == "admin" || @current_user.role = "route setter" %> 
              <span class="right floated">
                <%= link_to('<i class="edit outline icon"></i>'.html_safe, edit_route_path(@route))%>
              </span>
            <%end%>
          <%end%>
      </div>

      <div class="extra content">

        <table class="ui striped table very compact" >
          <thead>
            <tr class="center aligned">
              <th>Date</th>
              <th>Name</th>
            </tr>
          </thead>

          <tbody>
            <% Check.where(route_id: @route.id).each do |check| %>
              <tr>
                <td class="center aligned">
                  <%= check.created_at.strftime('%c') %>
                </td>
                <td class="">
                  <%= user = User.where(id: check.user_id).first.login %>
                </td>
              </tr>
            <%end%>
          </tbody>

        </table>

      </div>


    </div>
  </div>

  <div class="eight wide column ">
    <%= render partial:"routes/map", locals:{current_user:@current_user} %>
  </div>
</div>

