<!DOCTYPE html>
<html>
<head>
  <title>Ibex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @current_user %>
  <% if @current_user.role == "admin" %><% end %>
  <p>
    <%= @current_user.login %>
    <a href="/logout"> Se déconnecter</a>
  </p>

<% else %>
  <p>
    <a href="/login">S'identifier</a>
  </p>
<% end %>

<%= yield %>

</body>
</html>
